html, body, div, span, sup, h1, h2, h3, p, a,img, address, ul, li {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
body {font-family:Arial,sans-serif;font-size:12px;background:#FFF url(../img/bg-bottom.png) repeat-x 0 100%}
address {font-style:normal;}
ul {list-style-type:none}
sup {vertical-align:5px;font-size: 75%;}
h4 sup{vertical-align:8px;}
a {color:#007aab}



@font-face {
    font-family: 'HeliosC';
    src: url('../font/heliosc-webfont.eot');
    src: url('../font/heliosc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/heliosc-webfont.woff') format('woff'),
         url('../font/heliosc-webfont.ttf') format('truetype'),
         url('../font/heliosc-webfont.svg#HeliosCRegular') format('svg');
}

@font-face {
    font-family: 'HeliosCBold';
    src: url('../font/heliosc-bold-webfont.eot');
    src: url('../font/heliosc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/heliosc-bold-webfont.woff') format('woff'),
         url('../font/heliosc-bold-webfont.ttf') format('truetype'),
         url('../font/heliosc-bold-webfont.svg#HeliosCBold') format('svg');
}

@font-face {
    font-family: 'HeliosCondCBold';
    src: url('../font/helioscondc-bold-webfont.eot');
    src: url('../font/helioscondc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helioscondc-bold-webfont.woff') format('woff'),
         url('../font/helioscondc-bold-webfont.ttf') format('truetype')
         url('../font/helioscondc-bold-webfont.svg#HeliosCondCBold') format('svg');
}

h1 {font:normal 17px HeliosCBold;text-transform:uppercase;color:#007aab; font-weight:normal !important}
h2 {text-transform:uppercase;color:#007aab}
h3 {font:16px HeliosCBold;text-transform:uppercase;color:#1793c5; font-weight:normal !important}
h4 {font:normal 20px HeliosCBold;color:#1793c5; margin: 0px 0px 5px 0px; font-weight:normal !important}
p {padding:0 0 10px}


.g-hidden {overflow:hidden}
.g-text  {padding:0 0 0 380px;color:#4d4d4d}
.g-text-kind1 {background:url(../img/prod1.jpg) no-repeat 0 10px}
.g-text-kind2{background:url(../img/prod2.jpg) no-repeat 0 10px}
.g-text-kind3{background:url(../img/immunal_plus_c.png) no-repeat 0 10px}
.b-text-box {padding:0 0 20px 45px}
.g-text sup {font-size:12px}
.g-text h1 {padding:0 0 15px;font-size: 3em;line-height:1;color:#1793c5}
.g-text h2 {margin:0 0 14px;padding:0 0 9px;font:normal 2em/1 HeliosCBold;border-bottom:2px solid #D6E0E8;color:#1793c5}
.g-text h3 {padding:0 0 3px;font-size:1.3em;line-height:1;color:#1793c5}
.g-text p {padding:0 0 22px;line-height:18px}
.g-text ul {margin-left:14px;padding:0 0 18px;list-style-type:disc}
.g-text ul li {padding:0 0 4px;}
.icon-wr {position:relative;}
	.icon-wr i{display:block;position:absolute;top:0;left:-45px;width:36px;height:32px;background:url(../img/icons24.png) no-repeat}
	.icon-wr .icon-title1 {background-position:0 -353px}
	.icon-wr .icon-title2 {background-position:0 -385px}
	.icon-wr .icon-title3 {background-position:0 -417px}
	.icon-wr .icon-title4 {background-position:0 -449px}
.container {min-width:1000px;background:url(../img/bg-top.png) repeat-x 0 0;overflow:hidden;}
.container_c {min-width:1000px;background:url(../img/bg-top-inner.png) repeat-x 0 0;overflow:hidden;}
.container.container-main  {background:url(../img/bg-top-main.png) repeat-x 0 0;overflow:hidden;}
.container__in {position:relative;width:980px;margin:0 auto;}
.container-main .section-top{height:302px}
.container-main .body {padding-top:46px}
.decor1 {position:absolute;top:48px;left:-129px;width:1280px;height:242px;background:url(../img/decor1.jpg) no-repeat;}
.decor3 {position:absolute;top:48px;left:-129px;width:1280px;height:242px;background:url(../img/decor3.jpg) no-repeat;}
.decorC {position:absolute;top:48px;left:-129px;width:1280px;height:192px;background: right top url(../img/decor4_inner.jpg) no-repeat;}
.decor2 {position:absolute;top:62px;left: 0px;width:299px;height:329px;background:url(../img/decor2.png) no-repeat;z-index:2}
.decor2 a {display:block;margin-left:18px;width:299px;height:329px;}

.header {overflow: hidden; margin-bottom: -1px; margin-top: 1px;}
	.b-logo {float:left;padding:11px 0 0 9px}
	.nav { padding-top:5px; overflow: hidden; float: right; }
	.nav li {display:inline-block;padding:14px 11px 0; float: left;}
	.nav li.last {padding-left:50px;background:url(../img/icons24.png) no-repeat 25px 12px}
	.nav a {display: block;font-size:14px;font-weight:bold;color:#024C8F;text-transform:uppercase;text-decoration:none; padding-top: -1px;}
	.nav li.active {padding-top:0}
	.nav li.active a {background:#003498 url(../img/menu.png) repeat-x 0 -44px}
	.nav li.active span {display: block;background:url(../img/menu.png) no-repeat 0 0; margin-top: -1px;}
	.nav li.active span span{padding:15px 15px 0px; color:#FFF; height:29px;background:url(../img/menu.png) no-repeat 100% -88px}
	.nav a sup {font-size:10px;}
	.nav a:hover span {display: block; border-bottom: 1px solid #007aab;}
	.nav a:hover span span {display: block; border-bottom: 0px !important;}
	.nav a span {display: block;}
	.nav li.active a:hover span {border:0}

.section-top {position:relative;height:241px;z-index:1}
.container_c .section-top {height: 190px;}
	.slogan1 {position:absolute;width:282px;height:65px;top:32px;left:30px;background:url(../img/text1.png) no-repeat 0 0}
	.slogan {position:absolute;width:482px;top:50px;left: 0px; font-family: 'HeliosCBold'; font-size: 40px; color: #ffffff; text-transform: uppercase;}
	.slogan2 {position:absolute;top:52px;left:340px;font:normal 36px/47px Arial;color:#FFF}
	.b-immunal-kinds {position:absolute;top:220px;left:333px;width:648px;height:98px;background:url(../img/sprite-bg.png) no-repeat 0 -148px}
	.b-immunal-kinds ul {margin:26px 0 0 27px}
	.b-immunal-kinds ul li {float: left; margin-right:33px;font:normal 22px HeliosCBold;letter-spacing:-1px;text-transform:uppercase}
	.b-immunal-kinds ul li a {display:inline-block;padding-right:50px;color:#024C8F;text-decoration:none;background:url(../img/icons24.png) no-repeat 100% -75px}
	.b-immunal-kinds ul li a span {display:block;text-decoration:underline;font-size:11px;color:#233B55;letter-spacing:0;text-transform:lowercase; font-family: Arial, Helvetica, sans-serif;}
	.b-immunal-kinds ul li a:hover span {text-decoration:none}
	.b-immunal-kinds ul li sup {font-size:12px;font-family:Arial}

.body {position:relative;padding:30px 0 26px;z-index:1;overflow:hidden;}
	.l-columns {overflow:hidden}
	.l-column-first {float:left;width:320px;}
	.l-column-last {margin-left:340px}
	.b-imunzaschita h2 {font:bold 18px/24px HeliosCBold}
	.b-imunzaschita h2 a {text-decoration:none}
	.b-imunzaschita h2 a:hover {text-decoration:underline}
	.b-imunzaschita h2 span {font-size:27px}
	.b-imunzaschita {padding:0 0 0 10px; overflow: hidden;}
	.b-imunzaschita li {display:inline-block; float: left; width:148px;margin:0 5px 8px 0;font-size: 1em;color:#484848;vertical-align:top}
	.b-teaser-test {width:320px;height:146px;color:#FFF;background:url(../img/sprite-bg.png) 0 0 no-repeat}
	.b-teaser-test a {display:block;width:282px;height:128px;padding:20px 14px 0 24px;color:#FFF;text-decoration:none}
	.b-teaser-test .text1 {float:left;margin:0 2px 0 0;font:normal 92px/1 HeliosCBold;}
	.b-teaser-test .text2 {display:inline-block;margin:10px 0 0;font:normal 26px HeliosCBold;text-transform:uppercase}
	.b-teaser-test .text3 {font-size: 1em}
	.b-teaser-test .text4 {display:block;position:relative;top:-5px;padding:4px 30px 5px 0;clear:both;font:normal 18px HeliosCBold;text-align:right;text-decoration:underline;text-transform:uppercase;background:url(../img/icons24.png) no-repeat 100% -171px}
	.b-teaser-test a:hover .text4 {text-decoration:none}
	.b-note {padding:15px 5px 0 20px;font-size:10px;color:#838282}

	.b-share {padding:20px 0 0;font-size: 12px;text-align:right;color:#474644; font-weight: bold;display: none;}
	.b-share2 {margin:5px 0 10px; color:#474644; font-weight: bold;}
	.b-share2  .text{display:inline-block;padding:0px 11px 0px;font-size:12px;color:#FFF;background: left top url(../img/share-bg.png) no-repeat; width: 390px;  -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;vertical-align:middle; text-align: center; line-height: 21px;}
	.b-share-icons {font-size:0;vertical-align:middle;}
	.b-share-icons a {display:inline-block;margin-left:5px;width:26px;height:24px;font-size:0;background:url(../img/icons24.png) no-repeat 0 0;vertical-align:middle;}
	.b-share-icons .icon-share1 {background-position:0 -233px}
	.b-share-icons .icon-share2 {background-position:0 -257px}
	.b-share-icons .icon-share3 {background-position:0 -281px}
	.b-share-icons .icon-share4 {background-position:0 -305px}
	.b-share-icons .icon-share5 {background-position:0 -329px}

	.b-video  {overflow:hidden;width:360px}
	.b-video h1 {padding:16px 0 10px 50px;line-height:18px;background:url(../img/icons24.png) no-repeat 0 -23px;height:27px;}
	.b-video h1 a {text-decoration:none;}
	.b-video h1 a:hover span {text-decoration:underline}
	.b-video h1 em {font-style:normal;font-size:13px;}
	.b-video h1 sup {font-size:12px;}


	.b-tabs {float:left;margin-right:10px}
	#featured {position:relative; width:267px; height:316px;}
	.ui-tabs-nav {position:relative;text-align:right;z-index:5; float: right;}
	.ui-tabs-nav-item {display:inline-block;vertical-align:top; float: left;}
	.ui-tabs-nav-item a {display:inline-block;margin:14px 0 0;padding:0 9px;width:27px;height:46px;background:url(../img/icons-people.png) no-repeat 0 0}
	.ui-tabs-nav-item a:hover, .ui-tabs-selected a {padding:0;width:65px;height:69px;margin:0 -3px 0 -17px;}
	.ui-tabs-nav .tab1 a {background-position:-17px -69px}
	.ui-tabs-nav .tab2 a {background-position:-83px -69px}
	.ui-tabs-nav .tab3 a {background-position:-147px -69px}
	.ui-tabs-nav .tab1 a:hover, .ui-tabs-nav .ui-tabs-selected .tab1 a {background-position:0 0}
	.ui-tabs-nav .tab2 a:hover, .ui-tabs-nav .ui-tabs-selected .tab2 a {background-position:-65px 0}
	.ui-tabs-nav .tab3 a:hover, .ui-tabs-nav .ui-tabs-selected .tab3 a {background-position:-130px 0}

	.ui-tabs-panels {position:absolute; left:0; top:54px;height:270px;background:#dcf4fb url(../img/bg-corner.png) no-repeat 0 0}
	.ui-tabs-panel a {display:block;width:267px; height:270px;}
	.ui-tabs-panels .title {display:block;height:50px;font:normal 23px/50px HeliosCBold;text-transform:uppercase;color:#FFF;text-align:center;}
	.ui-tabs-panel .picture{display:block}
	.ui-tabs-hide{display:none;}

.footer {clear:both;padding:26px 10px 0 10px;height:197px;color:#B8CEE0}
	.footer address {/*margin-top:-2px*/}
	.footer address span {display:block}
	.b-logo2 {float:left}
	.b-copyright-license {float:left;margin-left:11px}
	.b-contacts {float:right;text-align:right}
	.b-warning {margin:19px 0 0;height:113px;background:url(../img/slogan3.png) no-repeat 50% 0}


ul.subnav {overflow: hidden;}
ul.subnav li {float: left; padding: 0px 0px 0px 15px; margin-right: 20px;}
ul.subnav li.active { background: left top url(../img/submenu-bg.png) no-repeat;}
ul.subnav li.active a { background: right top url(../img/submenu-bg.png) no-repeat;}
ul.subnav li a {padding: 11px 15px 10px 0px; font-weight: bold; color: #183468; text-decoration: none; line-height: 35px;}
ul.subnav li a:hover {text-decoration: underline;}
ul.subnav li a:hover strong {text-decoration: none;}
ul.subnav li strong {font-size: 18px; float: left; padding-top: 6px;}


.columns2 {overflow: hidden; padding-bottom: 5px;}
.columns2 .left {float: left; width: 625px; line-height: 20px; color: #4d4d4d;}
.columns2 .left p sup {font-size: 10px;}
.columns2 .left p.note {font-size: 11px; color: #8d8d8d; margin-left: 50px;}
.columns2 .left p.note sup {10px;}
.columns2 .left h2, .columns2 .left h1 {font-size: 2em; font-weight: bold; margin-bottom: 15px;}
.columns2 .left table {border-collapse: collapse; border-left: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; margin-bottom: 15px;}
.columns2 .left table td, .columns2 .left table th {padding: 3px 20px; border-right: 1px solid #e6e6e6;  border-bottom: 1px solid #e6e6e6; font-size: 13px;}
.columns2 .left p.note2 {font-size: 13px; margin-left: 20px;}
.columns2 .left p.note2 a {color: #1a3a75;}

.columns2 .left .advice {background: left top url(../img/advice-bg.png) no-repeat; width: 566px; height: 283px; padding: 20px; font-size: 1em; color: #183468;}
.columns2 .left .advice strong {display: block; margin-bottom: 10px; margin-left: 15px;}
.columns2 .left .advice ul {list-style: none;}
.columns2 .left .advice ul li {display: block; margin-bottom: 5px;}
.columns2 .left .advice ul li span {font-size: 20px; margin-right: 10px;}

.columns2 .right {float: right; width: 325px; color: #4d4d4d;}
.columns2 .right p.img1 {margin-top: 50px; color: #4d4d4d; font-weight: bold; font-size: 12px;}
.columns2 .right p.img1 img {display: block; margin-bottom: 3px;}
.columns2 .right h3 {font-size: 18px; margin-bottom: 5px;}
.columns2 .right .paging {overflow: hidden; float: right; margin-top: -15px;}
.columns2 .right .paging a {background: 0px 0px url(../img/paging-bg.png) no-repeat; float: left; width: 9px; height: 10px; margin-right: 10px;}
.columns2 .right .paging a.active {background-position: 0px -10px;}

.columns2 .right .sitem img {display: block; margin-bottom: 3px;}
.columns2 .right .sitem {display: none !important;}
.columns2 .right .sitem.active {display: block !important;}

.columns2 .right .notebg {padding: 20px; background: left top url(../img/note-bg.png) no-repeat; width: 271px; height: 88px; color: #ffffff; font-size: 13px;}
.columns2 .right .notebg sup {font-size: 10px;}
.columns2 .right h4 {font-size: 1.6em; color: #1793c5;}
.columns2 .right h5 {font-size: 1.6em; color: #1793c5; margin: 0px; font-weight: normal; font-family: 'HeliosCBold'; margin-bottom: 5px;}


*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:-50px;
	width: 311px;
	z-index:8;
	height: 50px;
	opacity: 1 !important;
	font-size: 12px;
}
.nivo-caption p {
	padding-top: 7px;
	margin:0;
	color: #4d4d4d;
	font-weight: bold;
	display: block;

}

.columns2 .right strong {display: block; padding-top: 5px;}

.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
	opacity: 1 !important;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
	display: none;
}
.nivo-nextNav {
	right:0px;
	display: none;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {position: absolute; right: 6px; top: -15px;}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
	background: 0px 0px url(../img/paging-bg.png) no-repeat; float: left; width: 9px; height: 10px; margin-right: 10px;
	text-indent: -1000px;
}
.nivo-controlNav a.active {
	background-position: 0px -10px;
}

.shadow {width: 100%; background: left top url(../img/shadow.png) repeat; position: absolute; left: 0px; top: 0px; z-index: 1000;}

.pollContainer {position: absolute; left: 0px; top: 0px; z-index: 10000; vertical-align: middle; width: 100%;}
.poll {width: 698px; margin: auto; position: fixed; left: 50%; top: 50%; margin-left: -349px; margin-top: -227px;}
.poll .top {height: 400px; padding: 38px 145px 0px 105px; color: #ffffff; position: relative;}
.poll .bottom {height: 54px; background: left top url(../img/question-navi-bg.png) no-repeat; padding-left: 230px;}
.poll .bottom span {margin-right: 10px; float: left; background: left top url(../img/question-navi.png) no-repeat; width: 15px; height: 15px; margin-top: 20px;}
.poll .bottom span.active {background-position: 0px -15px;}
.poll .bottom span.b-share-icons {background: none; width: 300px; margin-top: 15px;}
.poll .question .top {background: left top url(../img/question-bg1.png) no-repeat;}
.poll .correct .top {background: left top url(../img/question-bg2.png) no-repeat;}
.poll .incorrect .top {background: left top url(../img/question-bg3.png) no-repeat;}

.poll h3 {font-family: 'HeliosCBold'; color: #ffffff; font-size: 35px; margin-left: 40px; margin-bottom: 20px;}
.poll .question h3 { background: left bottom url(../img/question-title-bg1.png) repeat-x; padding-bottom: 5px;}
.poll .correct h3 { background: left bottom url(../img/question-title-bg2.png) repeat-x;}
.poll .incorrect h3 { background: left bottom url(../img/question-title-bg3.png) repeat-x;}

.poll .question .qtext {color: #ffffff; font-size: 20px; font-family: 'HeliosCBold'; margin-left: 40px; margin-bottom: 15px;}
.poll .question .selector {overflow: hidden; margin-bottom: 5px;}
.poll .question .selector a {float: left; background: 0px -33px url(../img/question-checkbox.png) no-repeat; width: 28px; height: 28px; margin-right: 10px;}
.poll .question .selector a.active {background-position: 0px 0px;}
.poll .question .selector div {float: left; display: table-cell; vertical-align: middle; width: 410px; padding-top: 3px;}
.poll  a.btn {background: left top url(../img/question-button.png) no-repeat; width: 363px; height: 68px; display: block; font-size: 20px; font-family: 'HeliosCBold'; text-decoration: none; line-height: 65px; text-align: center; color: #024c8f; position: absolute; left: 145px; bottom: 30px;}

.poll .count {position: absolute; right: 570px; top: 85px; color: #65c1fc; font-size: 14px; font-weight: bold;}
.poll .count strong {font-family: 'HeliosCBold'; color: #ffff38; font-size: 40px;}
.poll .close {position: absolute; right: 30px; top: 30px;}

.temperatureContainer {background: left top url(../img/therm.png) no-repeat; height: 340px; width: 130px; position: absolute; right: 10px; top: 85px;}
.temperatureContainer .temperature {background: left top url(../img/question-tempreture.png) no-repeat; width: 20px; position: absolute; left: 55px; bottom: 137px;}

.correct .checkblock {width: 230px; height: 45px; background: left top url(../img/correct.png) no-repeat; margin-left: 40px;}
.incorrect .checkblock {width: 230px; height: 45px; background: left top url(../img/incorrect.png) no-repeat; margin-left: 40px;}
.poll .atext {margin-left: 40px; margin-top: 20px;}
.correct .temperatureContainer {background-position: 0px -340px;}
.incorrect .temperatureContainer {background-position: 0px -680px;}

.poll .correct .count {color: #bdfa5d;}
.poll .incorrect .count {color: #fa7457}

.poll .rtext {margin-left: 40px;}
.poll .result {margin-left: 40px; font-size: 22px; font-family: 'HeliosCBold'; height: 60px; position: relative;}
.poll .result span {color: #09ccff; position: absolute; bottom: 0px; left: 180px;}
.poll .result span strong {font-family: 'HeliosCBold'; color: #ffff38; font-size: 60px;}

.poll .bottom .left {float: left; color: #ffffff; width: 300px; margin-left: -100px; margin-top: 10px;}
.poll .bottom  .right {float: right; margin-right: -50px;}

.columns2 .left .notebg, .leftB .notebg  {padding: 20px; background: left center url(../img/note-bg-repeat.png) repeat-x; color: #ffffff; font-size: 1em; font-weight: bold;-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px; margin-left: 40px;margin-right: 60px; margin-top: 15px; position: relative;}
.leftB .notebg {margin: 0px !important; line-height: 18px; height: 55px;}

.columns2 .left .notebg .cor, .leftB .notebg .cor {background: url(../img/corners.png) no-repeat;  position: absolute; width: 14px; height: 14px;}
.columns2 .left .notebg .cor.lt, .leftB .notebg .cor.lt {background-position: left top; left: 0px; top: 0px;}
.columns2 .left .notebg .cor.rt, .leftB .notebg .cor.rt {background-position: right top; right: 0px; top: 0px;}
.columns2 .left .notebg .cor.lb, .leftB .notebg .cor.lb {background-position: left bottom; left: 0px; bottom: 0px;}
.columns2 .left .notebg .cor.rb, .leftB .notebg .cor.rb{background-position: right bottom; right: 0px; bottom: 0px;}

.columns2 .left .notebg h2 {font-size: 20px; color: #ffffff;}
.columns2 .left .notebg ul {list-style: disc; margin-left: 15px;}
.columns2 .left .notebg sup {font-size: 10px;}
.columns2 .left h4 {margin-top: 20px;}

.verticalSlide {position: relative; padding: 30px 0px 20px;}
.verticalSlide .blocks {position: relative; width: 311px; height: 468px; overflow: hidden;}
.verticalSlide .artop {background: left top url(../img/arrow-top.png) no-repeat; width: 30px; height: 17px; position: absolute; left: 140px; top: 0px; cursor: pointer;}
.verticalSlide .arbottom {background: left top url(../img/arrow-bottom.png) no-repeat; width: 30px; height: 17px; position: absolute; left: 140px; bottom: 0px; cursor: pointer;}
.verticalSlide .blocks .gc {height: 156px;}
.verticalSlide .blocks .gc strong {display: block; height: 35px; font-size: 12px;}
.verticalSlide .blocks .block {position: absolute; left: 0px; top: 0px; width: 311px;}

h1 sup {font-size: 14px;vertical-align: 10px;}

.notebg a {color: #ffffff;}
.notebg a:hover {text-decoration: none;}

.yellowBtn {background: left top url(../img/yellow-btn.png) no-repeat; display: block; width: 310px; height: 63px; font-size: 23px; text-transform: uppercase; font-weight: bold; text-decoration: none; padding: 10px 0px 0px 15px; color: #0d4b86;}
.yellowBtn.smallText {font-size: 14px; padding-top: 18px;}
ul.ullist {list-style: disc; padding-left: 15px;}
ul.ullist li {margin-bottom: 15px;}
.yellowBtn sup {font-size: 13px !important;}
.yellowBtn span {font-size: 12px; font-weight: normal; display: block; text-transform: none; border-bottom: 1px solid #002163; width: 85px; color: #002163; white-space: nowrap;}
.yellowBtn:hover span {border: 0px;}

.columns2 .right sup {font-size: 10px;}
.footer .b-copyright-license a {color: #ffffff;}

.captions {display: none;}


.fontChange {position: fixed; left: 0px; top: 350px;}
.fontChange a {display: block;}

/****************************** FAQ ***************************************/
.faq-item {padding: 20px 20px 0px 20px; margin-bottom: 15px;}
.faq-item h3 {cursor: pointer; color: #024c8f; width: 560px; display: block; overflow: hidden; background: right top url(../img/faq-arrow-closed.png) no-repeat; padding: 0px 25px 0px 0px;}
.faq-item h3 span {float: left; padding: 5px 0px; border: 1px dashed transparent;}
.faq-item h3 span a {text-decoration: none;}
.faq-item h3:hover span a {border-bottom: 1px dashed #024c8f;}
.faq-item.opened h3 {color: #ffffff; background: right top url(../img/faq-arrow-opened.png) no-repeat;}
.faq-item.opened h3 span a {text-decoration: none; color: #ffffff;}
.faq-item.opened {background: #4dbad9 left top url(../img/faq-bg-top.png) no-repeat; color: #ffffff;}
.faq-item.opened div.faq-bottom {background: left bottom url(../img/faq-bg-bottom.png) no-repeat; height: 20px; margin-left: -20px; margin-right: -20px;}
.faq-item .faq-answer {display: none;}
.faq-item.opened .faq-answer {display: block;}
.faq-item.opened ul {list-style: disc; padding: 5px 0px 5px 20px;}


.imgBlock {overflow: hidden; margin-right: -20px;}
.imgBlock div {float: left; margin-right: 15px; padding-top: 23px;}
.imgBlock div strong {display: block;}
.imgBlock div.lastO {padding-top: 0px; margin-right: 10px; margin-left: -3px;}

.orange-blue {background: left top url(../img/blue-orange-bg.png) no-repeat; width: 588px; height: 210px; margin: auto; font-size: 13px; color: #ffffff;}
.orange-blue .blue {float: left; padding: 20px; width: 230px;}
.orange-blue .orange {float: right; padding: 20px; width: 220px;}
.imc .notebg {width: 548px; margin-left: auto !important; margin-right: auto !important;}
.notebg.orange {background: #f9aa00 left top url(../img/orange-bg.png) repeat-x !important; font-weight: normal !important; font-size: 14px;}
.notebg.orange ul {margin-bottom: 15px;}
.notebg.orange strong {display: block; margin-bottom: 5px;}


.popup1 {width: 598px; height: 657px; background: left top url(../img/popup-bg/1.png) no-repeat; padding: 35px 50px 0px; color: #ffffff; line-height: 18px; position: relative;}
.popup2 {width: 598px; height: 626px; background: left top url(../img/popup-bg/2.png) no-repeat; padding: 35px 50px 0px; color: #ffffff; line-height: 18px; position: relative;}
.popup3 {width: 598px; height: 536px; background: left top url(../img/popup-bg/3.png) no-repeat; padding: 35px 50px 0px; color: #ffffff; line-height: 18px; position: relative;}
.popup .popupText {margin-left: 45px;}
.popup h1 {font-family: 'HeliosCBold'; font-size: 30px; color: #ffffff; padding-bottom: 6px; background: left bottom url(../img/separator-bg.png) repeat-x; margin-bottom: 5px;}
.popup h2 {font-family: 'HeliosCBold'; font-size: 14px; color: #ffffff; padding-bottom: 6px; }
.popup h3 {font-family: 'HeliosCBold'; font-size: 14px; color: #ffffff; padding-bottom: 6px; text-transform: none;}
.popup p {margin-bottom: 5px; padding-bottom: 0px;}
.popup ul {list-style: disc; padding-left: 15px; margin-bottom: 15px;}
.popup .bottom {font-size: 10px; position: absolute; bottom: 10px;width: 620px;}
.popup .separator {background: left bottom url(../img/separator-bg.png) repeat-x; padding-bottom: 10px; margin-bottom: 10px;}
.popup2 table h2 {font-size: 12px; white-space: nowrap;}
.popup2 table td {vertical-align: top;}
.popup2 table td p {margin: 10px 0px 0px 25px;}
.popup2 .bottom, .popup3 .bottom {line-height: normal;}


.b-share-new {overflow: hidden; margin-bottom: 37px;}
.b-share-new .leftB {float: left; width: 625px;}
.b-share-new .rightB {float: right; width: 265px; background: left top url(../img/share-gray-bg.png) no-repeat; height: 57px; padding: 20px 25px; color: #484848; display: none;}
.b-share-new .rightB p {padding-bottom: 5px;}


.b-share-inverted {overflow: hidden; margin-bottom: 37px;}
.b-share-inverted .leftB {float: right; width: 625px;}
.b-share-inverted .rightB {float: left; width: 265px; background: left top url(../img/share-gray-bg.png) no-repeat; height: 57px; padding: 20px 25px; color: #484848;display: none;}
.b-share-inverted .rightB p {padding-bottom: 5px;}
