<div class="popup popup1">
	<h1>Дизайн исследования*:</h1>
    <div class="popupText">
    	<p>128 пациентов от 18 до 65 лет с начальными симптомами респираторной инфекции:</p>
        <ul>
            <li>59  пациентов - препарат Эхинацеи пурпурной, основная группа, 7 дней терапии;</li>
            <li>69 пациент – плацебо, группа контроля.</li>
        </ul>
		<p>Оценивалась выраженность симптомов ОРИ (острые респираторные инфекции). Среднее суммарное значение всех симптомов:</p>
        <ul>
            <li>насморк;</li>
            <li>боль в горле;</li>
            <li>заложенность носа;</li>
            <li>усталость;</li>
            <li>головная боль;</li>
            <li>озноб.</li>
        </ul>
    </div>
    <h2>Среднее значение выраженности симптомов ОРИ (в течение 7 дней терапии)</h2>
    <div class="separator"><img src="../public/img/chart1.png" width="420" height="213" alt=""></div>
    <h3>Результаты</h3>
    <p>Индекс выраженности симптомов ОРИ был на 23% ниже в группе пациентов, принимавших препарат Эхинацеи (р<0,01).</p>
    <div class="bottom">*Эффективность препарата эхинацеи при лечении простуды: рандомизированное, двойное слепое, плацебо-контролируемое  
 исследование;   Журнал клинической фармакологии и терапии, 2004(29), 75–83</div>
</div>