<div class="popup popup2">
	<h1>Дизайн исследования*:</h1>
    <div class="popupText">
    	<p>430 детей (1-5 лет):</p>
        <ul>
            <li>Основная группа: 215 детей, (на протяжении 12 недель получали препарат Эхинацея + витамин С + прополис);</li>
            <li>Контроль: 215 детей (плацебо).</li>
        </ul>
    </div><br />
    <table width="100%">
    	<tr>
        	<td width="325"><h2>Число эпизодов ОРи на 1 ребенка</h2></td>
            <td><h2>Число дней с лихорадкой на 1 ребенка</h2></td>
        </tr>
        <tr>
        	<td colspan="2"><img src="../public/img/chart2.png" alt="" /></td>
        </tr>
        <tr>
        	<td><p>В основной группе наблюдалось<br /> достоверное снижение частоты эпизодов<br /> возникновения ОРИ ( в пересчете<br />
на 1 ребенка; р < 0,001).</p></td>
            <td><p>В группе детей, получавших препарат, содержащий Эхинацею и витамин С отмечалось достоверное снижение продолжительности лихорадочного периода ( в пересчете на 1 ребенка; р < 0,001).</p></td>
        </tr>
    </table>

    <div class="bottom">*Cohen H.A., Varsano I., Kahan E., Sarrell E.M., Uziel Y. Эффективность растительного препарата, содержащие эхинацею, витамин С 
  и прополис для профилактики респираторных инфекций у детей: рандомизированное, двойное слепое, плацебо-контролируемое,   
  многоцентровое исследование. Медицинский педиатрический архив, 2004; 158:217-21</div>
</div>