<div class="popup popup3">
	<h1>Дизайн исследования*:</h1>
    <div class="popupText">
    	<p>80 пациентов, с симптомами ОРИ </p>
        <ul>
            <li>41 пациент получал препарат Эхинацеи;</li>
            <li>39 – плацебо ( группа контроля).</li>
        </ul>
    </div>
    <br /><br />
	<h2>Оценка продолжительности длительности заболевания</h2>
    <div class="separator">
    	<br /><br />
    	<img src="../public/img/chart3.png" alt="" /><br />
    </div>
    <h3>Результаты:</h3>
    <p>В группе, получавшей препарат Эхинацеи продолжительность заболевания составляла 6 дней, в группе плацебо: 9 дней (р=0,0112).</p>
    <div class="bottom">*Эффективность эхинацеи пурпурной у пациентов с простудными заболеваниями: плацебо-контролируемое, рандомизированное,  
 двойное слепое клиническое исследование. Журнал &laquo;Исследования лекарственных средств&raquo; <br />,51 (2001), pp. 563–568</div>
</div>