<div class="popup popup3">
	<h1>Дизайн исследования*:</h1>
    <div class="popupText">
    	<p>120 пациентов с начальными симптомами острой респираторной инфекции:</p>
        <ul>
            <li>60 – основная группа, применявшая препарат Эхинацеи пурпурной;</li>
            <li>60 – группа контроля (плацебо).</li>
        </ul><br />
    </div>
	<h2>Особенности течения респираторной инфекции на фоне применения эхинацеи пурпурной</h2>
    <div class="separator"><br />
    	<img src="../public/img/chart4.png" alt="" /><br />
    </div>
    <h3>Результаты:</h3>
    <p>В группе, принимавшей препарат эхинацеи, среднее  время  до улучшения состояния составило 4 дня, 
в группе плацебо – 8 дней. Средняя продолжительность заболевания в группе эхинацеи   составила 6 дней, в группе контроля – 10 дней.</p>
    <div class="bottom">*Лечение соком Эхинацеи пурпурной сокращает продолжительность обычного простудного заболевания: двойное слепое,<br /> плацебо-контролируемое клиническое исследование; Европейский журнал клинических исследований, 1997(9), с.261-268</div>
</div>